<div class="container">
  <div class="row mt-5">
    <div class="col-md-3 col-12">
      <div class="filterBar mb-4">
        <select class="form-control" v-model="input.type">
          <option>全部</option>
          <option>體育賽事</option>
          <option>系列活動</option>
          <option>運動課程</option>
        </select>
        <div class="inputBox mt-2">
          <label>活動地點</label>
          <select class="form-control" v-model="input.place">
            <option>全部</option>
            <option v-for="p in place">{{p}}</option>
            <!-- <option>臺北市</option>
            <option>新北市</option>
            <option>桃園市</option> -->
          </select>
        </div>
        <div class="inputBox mt-2">
          <label for="">活動名稱</label>
          <input class="form-control" type="text" v-model.trim="input.title" />
        </div>
        <div class="btn btn-primary mt-3" @click="search()">搜尋</div>
      </div>
    </div>
    <div class="col-md-9 col-12 mb-4">
      <!-- <p class="mt-3">Current Page: {{ currentPage }}</p> -->
      <div
        id="sportList"
        class="actiCard card"
        v-for="(content,index) in contentList"
      >
        <a href="#" @click.prevent="detailsHandler(index)">
          <div class="d-flex align-items-center">
            <div class="date">
              <h2>{{content.activityDateBegin}}</h2>
              <!-- <img class="dateCondition" :class="[dateCondition(content)=='pastTime'?'theEnd':'inProgress']" /> -->
              <img class="dateCondition" :class="[dateCondition(content)=='pastTime'?'theEnd':'gf',dateCondition(content)=='onTime'?'inProgress':'',dateCondition(content)=='futureTime'?'inFuture':'']" />
            </div>
            <div class="info">
              <h3 class="title">{{content.activityName}}</h3>
              <div class="place mt-2">
                <img src="../../assets/place.png" alt="" />
                <span>{{content.activityCounty}}</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="btn btn_secondary mr-2" @click="date()">返回</div>
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        :page-range="3"
        aria-controls="sportList"
      >
      </b-pagination>
    </div>
  </div>
</div>
